<!DOCTYPE html>
<html>

<head>
    <!--Script to enable hot reload during development-->
    <script type="text/javascript" src="http://livejs.com/live.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body>
    <div class="darkButton centerFlexCol" style="opacity: 0.9;">
        <div class="darkButton centerFlexCol">
            <div>
                <div class="lightButton centerFlexRow">
                    <p class="title texts">EXERCISE NAME</p>
                </div>
            </div>
            <div class="lightButton centerFlexCol">
                <div class="centerFlexRow">
                    <div class="lightButton">
                        <p class="texts">SET 1</p>
                    </div>
                    <div class="lightButton">
                        <p class="texts">SET 2</p>
                    </div>
                    <div class="lightButton">
                        <p class="texts">SET 3</p>
                    </div>
                </div>
                <div class="centerFlexRow">
                    <div class="darkButton">
                        <p class="texts">WEIGHT</p>
                    </div>
                    <div class="darkButton">
                        <p class="texts">REPS</p>
                    </div>
                </div>
            </div>

        </div>
</body>

</html>