<html>

<head>
    <!--Script to enable hot reload during development-->
    <script type="text/javascript" src="http://livejs.com/live.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body>
    <div class="titleBacker">
        <div class="titleContainer">
            <div class="titleContainer">
                <h1 class="texts title">CURRENT ROUTINE</h1>
            </div>
        </div>
    </div>
    <div class="pageContainer">
        <!-- first day -->
        <div class="lightButton centerFlexRow" onclick="location.href='./Workout.html'">
            <div class="darkButton centerFlexRow">
                <p class="texts">
                    CURRENT DAY
                </p>
            </div>
        </div>
        <!-- Second Day-->
        <div class="lightButton centerFlexRow" onclick="location.href='./Workout.html'">
            <div class="darkButton centerFlexRow">
                <p class="texts">
                    DAY 2
                </p>
                <button>SWITCH TO THIS DAY</button>
            </div>
        </div>
        <!--Third Day-->
        <div class="lightButton centerFlexRow" onclick="location.href='./Workout.html'">
            <div class="darkButton centerFlexRow">
                <p class="texts">
                    DAY 3
                </p>
                <button>SWITCH TO THIS DAY</button>
            </div>
        </div>
        <div class="centerFlexRow" style="flex-direction: row-reversed;" onclick="location.href='../index.html'">
            <div class="darkButton centerFlexRow">
                <p class="texts">
                    RETURN TO MAIN MENU
                </p>
            </div>
        </div>
    </div>
</body>

</html>