<!DOCTYPE html>
<html>

<head>
    <!--Script to enable hot reload during development-->
    <script type="text/javascript" src="http://livejs.com/live.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body>
    <div class="titleBacker">
        <div class="titleContainer">
            <h1 class="texts title">WORKOUT SUMMARY</h1>
        </div>
    </div>
    <div class="pageContainer">
        <div class="lightButton">
        </div>
        <div class="lowerPageContainer centerFlexRow">
            <div class="centerFlexCol">
                <div class="centerFlexRow">
                    <p class="texts">BODY WEIGHT</p>
                    <div class="darkButton"></div>
                </div>
                <div class="centerFlexRow">
                    <p class="texts">BODY FAT PERCENTAGE</p>
                    <div class="darkButton"></div>
                </div>
            </div>
            <div class="darkButton" onclick="location.href='../index.html'">
                <p class="texts">FINISH</p>
            </div>
        </div>
    </div>
</body>

</html>