<html>

<head>
    <!--Script to enable hot reload during development-->
    <script type="text/javascript" src="http://livejs.com/live.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body>
    <div class="titleBacker">
        <div class="titleContainer">
            <div class="titleContainer">
                <h1 class="texts title">MY ROUTINES</h1>
            </div>
        </div>
    </div>
    <div class="pageContainer">
        <!-- first saved routine -->
        <div class="lightButton centerFlexRow">
            <div class="darkButton centerFlexRow">
                <p class="texts">
                    EXAMPLE ROUTINE 1
                </p>
                <button>TOGGLE CURRENT</button>
            </div>
        </div>
        <!-- Second Saved Routine-->
        <div class="lightButton centerFlexRow">
            <div class="darkButton centerFlexRow">
                <p class="texts">
                    EXAMPLE ROUTINE 2
                </p>
                <button>TOGGLE CURRENT</button>
            </div>
        </div>
        <!--Third Saved Routine-->
        <div class="lightButton centerFlexRow">
            <div class="darkButton centerFlexRow">
                <p class="texts">
                    EXAMPLE ROUTINE 3
                </p>
                <button>TOGGLE CURRENT</button>
            </div>
        </div>
        <div class="centerFlexRow" style="flex-direction: row-reversed;" onclick="location.href='../index.html'">
            <div class="darkButton centerFlexRow">
                <p class="texts">
                    RETURN TO MAIN MENU
                </p>
            </div>
        </div>
    </div>
</body>

</html>