<!DOCTYPE html>
<html>

<head>
    <!--Script to enable hot reload during development-->
    <script type="text/javascript" src="http://livejs.com/live.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body>
    <div class="titleBacker">
        <div class="titleContainer">
            <div class="titleContainer">
                <h1 class="texts title">WORKOUT</h1>
            </div>
        </div>
    </div>
    <div class="pageContainer">
        <!-- first saved routine -->
        <div class="lightButton centerFlexRow">
            <div class="darkButton centerFlexRow" onclick="location.href='./ExerciseScreen.html'">
                <p class="texts">
                    EXERCISE 1
                </p>
            </div>
        </div>
        <!-- Second Saved Routine-->
        <div class="lightButton centerFlexRow">
            <div class="darkButton centerFlexRow" onclick="location.href='./ExerciseScreen.html'">
                <p class="texts">
                    EXERCISE 2
                </p>
            </div>
        </div>
        <!--Third Saved Routine-->
        <div class="lightButton centerFlexRow">
            <div class="darkButton centerFlexRow" onclick="location.href='./ExerciseScreen.html'">
                <p class="texts">
                    EXERCISE 3
                </p>
            </div>
        </div>
        <div class="centerFlexRow" style="flex-direction: row-reversed;">
            <div class="darkButton centerFlexRow" onclick="location.href='./WorkoutSummary.html'">
                <p class="texts">
                    FINISH
                </p>
            </div>
        </div>
    </div>
</body>

</html>